/* Greeting bar */

.greetingBar {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    justify-content: center;
}

.greeting {
    display: grid;
    align-items: center;
    width: 300px;
    font-family: "Bitter", serif;
    justify-content: center;
}

.greetingP1 {
    display: flex;
    margin-top:5px;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.greetingP2 {
    display: flex;
    margin-top:5px;
    margin-bottom: 5px;
    justify-content: flex-end;
}

.name {
    font-size: 50px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.navBar {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: space-between;
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.pageLinks {
    color: inherit;
    text-decoration: inherit;
    text-align: center;
  }

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.pageDescription {
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}


/* about me page */


.page1 {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

.jennieImage {
    display:flex;
    object-fit: fill;
    max-width: 100%;
    height: auto;
}

.section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

.subSectionTitle {
    text-align: center;
}

/* nail art page */

.nailGrid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
}

.nailGridCell {
    display: flex;
    justify-content: center;
}

.nailImage {
    width: 300px;
    height: auto;
}

/* crochet page */

.crochetList {
    display: flex;
    justify-content: center;
}

/* contact me page */

.centerText {
    text-align: center;
}

form  {
    display:flex;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
}

fieldset {
    width:70%;
    padding: 35px;
}

.fieldBox {
    display: grid;
    padding-left: 25%;
    padding-right: 25%;
}

.terms {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    align-items: flex-start;
}

.button {
    display:flex;
    padding-left: 25%;
    padding-right: 25%;
    justify-content: flex-end;
}




/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: end;
    margin-left: 5px;
    margin-right: 5px;

}

.icons {
    width: 20px;
    height: auto;
    padding-left: 2px;
    padding-right: 2px;
}
